body {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-size: 10px;
    color: white;
}

.studs {
    height: 10px;
    width: 250px;

    background-color: rgb(163, 162, 165);
    background-image: url("stud.webp");
    background-size: 10px 10px;
    background-repeat: repeat;
}

.tile {
    position: relative;
    height: 240px;
    width: 250px;
    overflow: hidden;
    animation: bg-color 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.fade {
    position: absolute;
    width: 25px;
    height: 100%;

    background-image: linear-gradient(to left, #00000000, #000000);
    left: 0;
    top: 0;

    z-index: 1;
}

.tile::before,
.tile::after {
    content: "";
    display: block;
    position: absolute;

    background-image: url("willpower.png");
    background-size: 50% 50%;
    background-repeat: repeat;
    animation: bg-scroll 3s linear infinite;
    mix-blend-mode: color-burn;

    left: 0;
    top: 0;

    width: 500px;
    height: 500px;
}

.tile::after {
    background-size: 500px 500px;
    width: 1000px;
    height: 1000px;
    animation: bg-scroll 4s linear infinite;
}

@keyframes bg-scroll {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -100% 100%;
    }
}

@keyframes bg-color {
    0% {
        background-color: #ca6134;
    }

    50% {
        background-color: #992435;
    }

    100% {
        background-color: #ca6134;
    }
}

.logo {
    position: absolute;
    left: -150px;
    top: 50%;
    transform: translate(0, -50%);

    width: 300px;
    height: 200px;

    background-image: url("logo.png");
    background-size: 100% 100%;
}

.drawer {
    background-color: #00000080;
    position: absolute;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 48px 1fr;

    backdrop-filter: blur(12px) brightness(50%) contrast(150%);

    transform: translate(calc(100% - 48px), 0);
    transition: transform 0.25s cubic-bezier(0.215, 0.610, 0.355, 1);

    z-index: 1;
}

.drawer::after {
    content: "";
    display: block;

    position: absolute;
    width: 50px;
    height: 100%;

    background-image: linear-gradient(to right, #00000000, #000000);
    left: -50px;
    top: 0;
}

.drawer:has(.handle>input:checked) {
    transform: translate(0, 0);
}

.handle {
    position: relative;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.handle::before {
    content: "◀︎";
    font-size: 42px;
    transition: transform 0.25s cubic-bezier(0.215, 0.610, 0.355, 1);
    line-height: 120%;
}

.handle:has(input:checked)::before {
    transform: rotate(180deg);
}

.handle input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    overflow-y: scroll;

    border-left: 1px solid #ff808040;
}

.social {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    width: 100%;

    padding: 4px;
    padding-left: 5px;
    gap: 8px;

    color: unset !important;
    text-decoration: unset;

    border-radius: 8px;
    transition:
        background-color 0.25s cubic-bezier(0.215, 0.610, 0.355, 1),
        gap 0.25s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.social:hover {
    background-color: #ff808040;
    gap: 10px;
}

.content::before,
.content::after {
    content: "";
    display: block;

    position: fixed;
    width: 100%;
    height: 12px;

    left: 0;
}

.content::before {
    background-image: linear-gradient(to top, #00000000, #000000);
    top: 0;
}

.content::after {
    background-image: linear-gradient(to bottom, #00000000, #000000);
    bottom: 0;
}