/* TILE */

main {
    position: relative;

    width: 250px;
    height: 250px;

    animation: bg-color 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    color: white;

    font-family: "Merriweather", serif;
    font-size: 12px;
    font-weight: regular;
    text-align: center;

    overflow: hidden;
}

* {
    z-index: 1;
}

main::before,
main::after {
    content: "";
    display: block;
    position: absolute;

    background-image: url("./willpower.png");
    background-size: 50% 50%;
    background-repeat: repeat;
    animation: bg-scroll 3s linear infinite;
    mix-blend-mode: color-burn;

    left: 0;
    top: 0;

    width: 500px;
    height: 500px;
}

main::after {
    background-size: 500px 500px;
    width: 1000px;
    height: 1000px;
    animation: bg-scroll 4s linear infinite;
}

#content {
    display: flex;
    position: fixed;
    height: 250px;
    transition: left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

section {
    width: 250px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 16px;

    transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

section.hidden {
    opacity: 0%;
    transform: scale(110%);
}

@keyframes bg-scroll {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 100% 100%;
    }
}

@keyframes bg-color {
    0% {
        background-color: #b94d1e;
    }

    50% {
        background-color: #992435;
    }

    100% {
        background-color: #b94d1e;
    }
}

.logo {
    width: 75%;
}

.title {
    font-size: 14px;
    font-weight: bolder;
}

.copy {
    opacity: 80%;
}

nav {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 3px;
}

button {
    padding: 2px 6px 1px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    opacity: 80%;
    transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:hover {
    opacity: 100%;
}

@keyframes star-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.showcase {
    width: 100%;
    height: 45%;
    object-fit: cover;
    border-radius: 4px;
}

#back {
    width: 100%;
}

/* SOCIALS */

#socials a {
    height: 25px;
    position: relative;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#socials img {
    width: 90%;
    opacity: 66.67%;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#socials a:hover img {
    width: 100%;
    opacity: 100%;
}